<style type="text/css">
	
	#sidebar {
    display: none;
  	}
  	
</style>

<br><br><br>
<p style="text-align: center;">
	<img src="https://res.cloudinary.com/nikasemo/image/upload/v1576052324/smiling-emoticon-square-face_eky0ti.png">
</p>
<h1 style="text-align: center;">Thank you for Signing Up!</h1>
<p style="text-align: center; color: #9c1e34;">Welcome to Kuulish! the main place parents around the world come to know what’s cool … Well more like cool -ish! We all find it hard to keep up with new trends, dances, entertainment and even names for the things we did (that our parents hated) when we were young.

This site is the bridge you need to keep up with your kids. You’re welcome!</p>
<br><br>
<p style="text-align: center;">
	<a href="/" class="btn btn-primary">Proceed to Homepage</a>
</p>
<br><br><br>