<style type="text/css">
  

.aduins{
 background:linear-gradient(0deg,rgba(0, 0, 0,0.7),rgba(0, 0, 0,0.7)),url(https://res.cloudinary.com/nikasemo/image/upload/v1577869310/green-leaves-pattern_diana-toledano_h5faho.png);
  background-position:center;
  min-height: 250px;
  padding: 20px;
}

.btninvitejoin {
  background-color: #f17100;
  color: #ffffff;
  border-radius: 0;
  border: none;
  width: 100%;
}

#sidebar {
  display: none;
}

/* Poll Radio buttons*/

 .labelcontainer {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 0px;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.labelcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  margin-bottom: 10px;
  background-color: #bab6b6;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.labelcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.labelcontainer input:checked ~ .checkmark {
  background-color: #f17100;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.labelcontainer input:checked ~ .checkmark:after {
  display: none;
}

/* Style the indicator (dot/circle) */
.labelcontainer .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}

.holdpollbtns {
  margin-top: 20px;
}

.pollsubmit {
  background-color: #f17100;
  border: none;
  color: #ffffff;
  border-radius: 15px;
}

.holdpollholder {
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
  }

  .topcompoststop {
    color: #f17100;
    font-weight: 500;
    font-size: 14px;
  }

  .topcompoststop1 {
    color: #f17100;
    font-weight: 500;
    font-size: 14px;
    margin-top: 30px;
  }

  .btninvitejoinhome {
    background-color: #f17100;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    width: 100%;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
  }

   .holdshareholder {
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
  }


  .linkedinhomesharebtn {
  width: 100%;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #0F78B9;
  border: none;
  border-radius: 0;
  margin-bottom: 12px;
}

.fbhomesharebtn {
  width: 100%;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #3B5999;
  border: none;
  border-radius: 0;
  margin-bottom: 12px;
}

.twitterhomesharebtn {
  width: 100%;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #00ACEE;
  border: none;
  border-radius: 0;
  margin-bottom: 12px;
}

.holdmembersholder {
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
  }

  .ffmemberbtn {
  background-color: transparent;
  border: 1.5px solid #f17100;
  color: #f17100;
  font-size: 12px;
  border-radius: 15px;
}

 .holdpostholder {
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
  }

 .topcompoststop {
    color: #f17100;
    font-weight: 500;
    font-size: 14px;
  }

  .topcompoststop1 {
    color: #f17100;
    font-weight: 500;
    font-size: 14px;
    margin-top: 30px;
  }

  .blogimage {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .btnreadb {
    background-color: #f17100;
    border: none;
    color: #ffffff;
    border-radius: 5px;
  }


</style>


<div class="row">
  <div class="col-lg-9" style="padding-right: 40px;">

    <div class="row">
      <div class="col-lg-12">

        <div class="aduins">
          <div class="container">
            <div class="row" style="margin-top: 70px">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-8">
                    <p style="color: #ffffff; font-size: 25px; font-weight: 600;">Parents of Children with Autism</p>
                    <p style="color: #ffffff; font-size: 14px; font-weight: 400;">This group is to provide a community which gives support to parents whose children are autistic. Help, Advice and Love.</p>
                  </div>
                  <div class="col-lg-4">
                    <div class="row no-gutters">
                      <div class="col-lg-12">
                        <p style="background-color: rgba(255,255,255, 0.3); width: 80px; text-align: center; padding: 5px;">
                          <span style="font-size: 25px; font-weight: 600; color: #ffffff;">200</span>
                          <br>
                          <span style="font-size: 12px; font-weight: 300; color: #ffffff;">Members</span>
                        </p>
                      </div>
                      <div class="col-lg-4">
                        <a href="" class="btn btn-primary btninvitejoin">Invite</a>
                      </div>
                      <div class="col-lg-8">
                          <a href="" class="btn btn-primary btninvitejoin" style="margin-left: 10px;">Join Community</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div class="row">

    </div>


    <!-- Post Begin -->

    <div class="row">
      <div class="col-lg-8 col-8" style="margin-top: 20px;">

        <div class="row">
          <div class="col-lg-12">


        <div class="holdpostholder">
              <div class="row">

                <div class="col-lg-12">
                  
                  <div class="row">

                    <div class="col-lg-2 col-2">
                      <div class="holdimage">
                        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1577829071/IMG_20190827_142457_6_u0y2lp.png" class="img-fluid">
                      </div>
                    </div>
                    <div class="col-lg-7 col-7">
                      <div class="holdposttitle" style="line-height: 16px;">
                        <span style="font-weight: 600; font-size: 14px;">How to talk children out of fighting and conflict resolution.</span><br>
                        <span style="font-weight: 700; font-size: 10px; color: #dddddd;">Author: Naa Dei</span>
                      </div>
                    </div>
                    <div class="col-lg-3 col-3">
                      <img src="https://res.cloudinary.com/nikasemo/image/upload/v1577829070/like_3_t6voty.png" width="34px" height="34px" class="img-fluid">
                      <span>10+</span>
                    </div>

                  </div>
                </div>
                

                <div class="col-lg-12">
                  <div class="blogimage">
                    <img src="https://res.cloudinary.com/nikasemo/image/upload/v1577830948/2019-08_talkingparents_blogs_fight-in-front-of-kids_hero-min_g8avny.png" class="img-fluid">
                  </div>
                  <p style="text-align: right; margin-top: 20px;">
                    <img src="https://res.cloudinary.com/nikasemo/image/upload/v1577829070/like_3_copy_ay0ic2.png" 
                    width="25px" height="25px">
                    <a href="" class="btn btn-primary btnreadb">Read Post</a>
                  </p>
                </div>

                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-12">
                        <p class="topcompoststop">Comments</p>
                    </div>
                  </div>
                  <div class="row">

                    <div class="col-lg-12">
                      <div class="row no-gutters">
                        <div class="col-lg-1 col-3">
                            <img src="https://res.cloudinary.com/nikasemo/image/upload/v1577829071/IMG_20190827_142457_6_u0y2lp.png" class="img-fluid">
                        </div>
                        <div class="col-lg-11 col-9">
                            <p>
                              <span style="margin-left: 10px; color: #4A4A4A; font-size: 12px; font-weight: 600;">Abass Matic</span> 
                              <span style="margin-left: 5px; color: #9B9B9B; font-size: 10px; font-weight: 500;">11:59pm</span><br>
                              <span style="margin-left: 10px; color: #9B9B9B; font-size: 11px;">
                              The time of a man is like an egg being boiled. It takes no time to cook. That is how life is short. It is always a great thing to keep the time of your life in perspective.
                            </span>
                            </p>
                            
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <div class="row no-gutters">
                        <div class="col-lg-1 col-3">
                            <img src="https://res.cloudinary.com/nikasemo/image/upload/v1577829071/IMG_20190827_142457_6_u0y2lp.png" class="img-fluid">
                        </div>
                        <div class="col-lg-11 col-9">
                            <p>
                              <span style="margin-left: 10px; color: #4A4A4A; font-size: 12px; font-weight: 600;">Abass Matic</span> 
                              <span style="margin-left: 5px; color: #9B9B9B; font-size: 10px; font-weight: 500;">11:59pm</span><br>
                              <span style="margin-left: 10px; color: #9B9B9B; font-size: 11px;">
                              The time of a man is like an egg being boiled. It takes no time to cook. That is how life is short. It is always a great thing to keep the time of your life in perspective.
                            </span>
                            </p>
                            
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <div class="row no-gutters">
                        <div class="col-lg-1 col-3">
                            <img src="https://res.cloudinary.com/nikasemo/image/upload/v1577829071/IMG_20190827_142457_6_u0y2lp.png" class="img-fluid">
                        </div>
                        <div class="col-lg-11 col-9">
                            <p>
                              <span style="margin-left: 10px; color: #4A4A4A; font-size: 12px; font-weight: 600;">Abass Matic</span> 
                              <span style="margin-left: 5px; color: #9B9B9B; font-size: 10px; font-weight: 500;">11:59pm</span><br>
                              <span style="margin-left: 10px; color: #9B9B9B; font-size: 11px;">
                              The time of a man is like an egg being boiled. It takes no time to cook. That is how life is short. It is always a great thing to keep the time of your life in perspective.
                            </span>
                            </p>
                            
                        </div>
                      </div>
                    </div>



                  </div>
                </div>

              </div>
            </div>

              </div>
            </div>

            <!-- Post end -->




      </div>



      <div class="col-lg-4 col-4" style="padding-right: 30px; padding-top: 20px;">

        <div class="row">
            <div class="holdmembersholder">

              <div class="col-lg-12" style="margin-top: 20px;">
                <div class="row no-gutters">
                  <div class="col-lg-2 col-2">
                    <img src="https://res.cloudinary.com/nikasemo/image/upload/v1577829071/IMG_20190827_142457_6_u0y2lp.png" class="img-fluid">
                  </div>
                  <div class="col-lg-6 col-6" style="line-height: 14px;">
                    <span style="margin-left: 10px; color: #000000; font-size: 12px; font-weight: 600;">
                    Bernard Lomo
                  </span>
                  <span style="margin-left: 10px; color: #dddddd; font-size: 9px; font-weight: 400;">
                    Founder of Africa
                  </span>
                  </div>
                  <div class="col-lg-4 col-4">
                    <a href="" class="btn btn-primary ffmemberbtn" style="margin-left: 7px;">Follow</a>
                  </div>
                </div>
              </div>


              <div class="col-lg-12" style="margin-top: 20px;">
                <div class="row no-gutters">
                  <div class="col-lg-2 col-2">
                    <img src="https://res.cloudinary.com/nikasemo/image/upload/v1577829071/IMG_20190827_142457_6_u0y2lp.png" class="img-fluid">
                  </div>
                  <div class="col-lg-6 col-6" style="line-height: 14px;">
                    <span style="margin-left: 10px; color: #000000; font-size: 12px; font-weight: 600;">
                    Bernard Lomo
                  </span>
                  <span style="margin-left: 10px; color: #dddddd; font-size: 9px; font-weight: 400;">
                    Founder of Africa
                  </span>
                  </div>
                  <div class="col-lg-4 col-4">
                    <a href="" class="btn btn-primary ffmemberbtn" style="margin-left: 7px;">Follow</a>
                  </div>
                </div>
              </div>


              <div class="col-lg-12" style="margin-top: 20px;">
                <div class="row no-gutters">
                  <div class="col-lg-2 col-2">
                    <img src="https://res.cloudinary.com/nikasemo/image/upload/v1577829071/IMG_20190827_142457_6_u0y2lp.png" class="img-fluid">
                  </div>
                  <div class="col-lg-6 col-6" style="line-height: 14px;">
                    <span style="margin-left: 10px; color: #000000; font-size: 12px; font-weight: 600;">
                    Bernard Lomo
                  </span>
                  <span style="margin-left: 10px; color: #dddddd; font-size: 9px; font-weight: 400;">
                    Founder of Africa
                  </span>
                  </div>
                  <div class="col-lg-4 col-4">
                    <a href="" class="btn btn-primary ffmemberbtn" style="margin-left: 7px;">Follow</a>
                  </div>
                </div>
              </div>


              <div class="col-lg-12" style="margin-top: 20px;">
                <div class="row no-gutters">
                  <div class="col-lg-2 col-2">
                    <img src="https://res.cloudinary.com/nikasemo/image/upload/v1577829071/IMG_20190827_142457_6_u0y2lp.png" class="img-fluid">
                  </div>
                  <div class="col-lg-6 col-6" style="line-height: 14px;">
                    <span style="margin-left: 10px; color: #000000; font-size: 12px; font-weight: 600;">
                    Bernard Lomo
                  </span>
                  <span style="margin-left: 10px; color: #dddddd; font-size: 9px; font-weight: 400;">
                    Founder of Africa
                  </span>
                  </div>
                  <div class="col-lg-4 col-4">
                    <a href="" class="btn btn-primary ffmemberbtn" style="margin-left: 7px;">Follow</a>
                  </div>
                </div>
              </div>

          </div>
        </div>
        
      </div>
    </div>

  </div>


  <div class="col-lg-3">

    <div class="row">
        
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <p class="topcompoststop">Latest Community Poll</p>
            </div>
          </div>

          <div class="row">
            <div class="holdpollholder">
            <div class="col-lg-12">
              <div class="row no-gutters">
                <div class="col-lg-2 col-3">
                  <img src="https://res.cloudinary.com/nikasemo/image/upload/v1577829071/IMG_20190827_142457_6_u0y2lp.png" class="img-fluid">
                </div>
                <div class="col-lg-10 col-9">
                  <span style="margin-left: 10px; color: #f17100; font-size: 12px; font-weight: 600;">
                  Et elit et incididunt voluptate deserunt ad est est.
                </span>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <div class="holdpollbtns">
                    <label class="labelcontainer">Elder Mireku
                    <input type="radio" name="con[answer]" onclick="submityourPoll()" id="con_answer" value="eldermireku">
                    <span class="checkmark"></span>
                    </label>

                    <label class="labelcontainer">Lizzy Rockson
                    <input type="radio" name="con[answer]" onclick="submityourPoll()" id="con_answer" value="lizzyrockson">
                    <span class="checkmark"></span>
                    </label>

                    <label class="labelcontainer">Joe Mettle
                    <input type="radio" name="con[answer]" onclick="submityourPoll()" id="con_answer" value="joemettle">
                    <span class="checkmark"></span>
                    </label>

                    <label class="labelcontainer">Don Moen
                    <input type="radio" name="con[answer]" onclick="submityourPoll()" id="con_answer" value="donmoen">
                    <span class="checkmark"></span>
                    </label>
                      <p id="submypoller" style="text-align: center; display: none;">
                      <button class="btn btn-primary pollsubmit" style="margin-top: 7px;">Submit</button>
                      </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
          </div>

          


          <div class="row" style="margin-top: 30px;">
            <div class="col-lg-12">
              <a href="" class="btn btn-primary btninvitejoinhome">Direct Group Invite Link</a>
            </div>
          </div>


          <div class="row" style="margin-top: 30px;">

        <div class="holdshareholder">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                <p style="text-align: center; font-weight: 400; color: #f17100;">Invite your friends and colleagues to Kuulish</p>
                <p style="text-align: center;">
                  <img width="35px" height="35px" src="https://res.cloudinary.com/nikasemo/image/upload/v1577861686/messenger_yywjlv.png">
                  <img width="35px" height="35px" style="margin-left: 5px;" src="https://res.cloudinary.com/nikasemo/image/upload/v1577861686/whatsapp_3_zp0khe.png">
                  <img width="35px" height="35px" style="margin-left: 5px;" src="https://res.cloudinary.com/nikasemo/image/upload/v1577861686/gmail_wnjtg4.png">
                  <img width="35px" height="35px" style="margin-left: 5px;" src="https://res.cloudinary.com/nikasemo/image/upload/v1577861686/outlook_rpkemc.png">
                </p>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-5 col-5">
                    <img src="https://res.cloudinary.com/nikasemo/image/upload/v1577863146/liner_ugorna.png" class="img-fluid">
                  </div>
                  <div class="col-lg-2 col-2">
                    <div style="text-align: center; width: 100%;">
                      <p style="text-align: center; font-weight: 500; color: #4a4a4a;">OR</p>
                    </div>
                  </div>
                  <div class="col-lg-5 col-5">
                    <img src="https://res.cloudinary.com/nikasemo/image/upload/v1577863146/liner_ugorna.png" class="img-fluid">
                  </div>
                </div>
              </div>

              <div class="col-lg-12">
                <p style="text-align: center;">Share Via Social Networks</p>
                <p>
                  <a href="" class="btn btn-primary linkedinhomesharebtn"><i class="fab fa-linkedin"></i> LINKEDIN</a><br>
                  <a href="" class="btn btn-primary fbhomesharebtn"><i class="fab fa-facebook-f"></i> FACEBOOK</a><br>
                  <a href="" class="btn btn-primary twitterhomesharebtn">
                    <i class="fab fa-twitter"></i> TWITTER</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      



      </div>

  </div>


</div>



<script type="text/javascript">
  
  function submityourPoll(){
      document.getElementById('submypoller').style.display = 'block';
  }


</script>


















































